<%
  info = {
    "Синематика - Ала-Тоо" => {:url => "http://cinematica.kg"},
    "Синематика - Вефа" => {:url => "http://cinematica.kg"},
    "Синематика - Космопарк" => {:url => "http://cinematica.kg"},
    "Синематика - Октябрь" => {:url => "http://cinematica.kg"},
    "Манас" => {:url => "http://manascinema.kg"},
    "Мувистар" => {:url => "http://moviestar.kg"},
    "Россия" => {:url => "http://cinema.kg"},
  }
%>

<!DOCTYPE html>
<html>
<head>
  <title>Намба Кино</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
  <link href="/css/base.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="container">
  <div id="logo"><img src="/ima/logo.png"></div>
  <div class="title"><span>Ближайшие киносеансы на сегодня</span></div>
  <div class="movies">

    <% @movies.each do |place, movie, time, price, hall|  %>
    <div class="movie">
      <div class="movie-title"><%= movie %></div>
      <div class="movie-info">
        <span class="place"><a href="<%= info[place][:url] %>"><%= place %></a></span>
        <span class="time"><%= time %></span>
        <div><%= hall %>, цена <%= price %> сом</div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<script src="/js/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>